html{
    font-size: 62.5%;
}
body{
    background-color: #F9F6D0;
}
.blackboard{
    text-align: center;
}
.longdesk{
    text-align: center;
    margin-top: -24px;
    position: relative;
}
.teacher{
    position: absolute;
    top: 128px;
    right: 134px;
    p{
        font-size:1rem;
        background-color: #FFF;
        width: 121px;
        text-align: center;
    }
}
.desk_wrap{
    display: flex;
    padding-left: 8px;
    padding-top: 16px;
    position: relative;
}
.student{
    p{
        font-size: 1rem;
        background-color: #FFF;
        width: 52px;
        text-align: center;
    }
}
.one{
    position: absolute;
    top: 190px;
    left: 14px;
}
.two{
    position: absolute;
    top: 190px;
    left: 74px;
}
.icon_wrap{
    display: flex;
    gap: 24px;
    position: absolute;
    top: 230px;
    left: 16px;
}
.class{
    width: 93px;
    background-color: #00552E;
    margin-top: 72px;
    margin-bottom: 16px;
    margin-left: 280px;
    p{
        font-size: 2rem;
        color: #FFF;
        text-align: center;
    }
}
footer{
    height: 68px;
    background-color: #814E1E;
    ul{
        display: flex;
        gap: 40px;
    }
    li{
        list-style: none;
    }
}
.homeicon{
    padding-left: 20px;
}
.myicon{
    padding-top: 12px;
}