html{
    font-size: 62.5%;
}
body{
    background-color: #00552E;
}
.container{
    padding-left: 25px;
}
.header{
    display: flex;
    gap: 280px;
    .edit{
        padding-top: 10px;
    }
}
.profile{
    display: flex;
    gap: 24px;
    align-items: center;
    .profile_content{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
.main{
    display: flex;
    .likefood_wrap{
        padding-top: 24px;
    }
}
.favorite_title{
    text-align: center;
}
.top_content_wrap{
    display: flex;
    gap: 8px;
    padding-top: 24px;
}
.bottom_content_wrap{
    display: flex;
    gap: 8px;
}
.title{
    text-align: center;
}
.finish{
    text-align: center;
    margin-bottom: 20px;
}
footer{
    height: 68px;
    background-color: #814E1E;
    ul{
        display: flex;
        gap: 40px;
    }
    li{
        list-style: none;
    }
}
.homeicon{
    padding-left: 20px;
}
.myicon{
    padding-top: 12px;
}